# For loop

In [169]:
#add one to each number in the list

l=[1,10,12,18]

l[0]=l[0]+1
l[1]=l[1]+1

l[2]=l[2]+1

l[3]=l[3]+1

l

[2, 11, 13, 19]

In [308]:
#add one to each number in the list

l=[2,5,9,12,16]

l2=[]

for i in l:
        l2.append(i+1)
print(l2)

[3, 6, 10, 13, 17]

In [175]:
l2

[3, 6, 10, 13, 17]

In [309]:
#multiply each number by 10

l=[1,10,12,18]
l2=[]
for i in l:
    
    l2.append(i*10)

print(l2)

[10, 100, 120, 180]

In [171]:

l2

[10, 100, 120, 180]

In [177]:
#find sum of all numbers in the list


l=[1,10,12,18]
total=0

for i in l:
    total=total+i

In [178]:
total

41

In [179]:
# find multiplication of all the numbers in list

l=[1,12,11,44]
total=1
for i in l:
    total=total*i

In [138]:
total

5808

# if-else

In [180]:
x=10.1

if x==10:
    print("yes")

In [181]:
s="python"

if s=="java":
    print("we are learning java")
    
else:
    print("some other language")

some other language

In [182]:
s="IIT">"NIT">"state universities"

In [183]:
univ="NIT"

if univ=="IIT":
    print("we will go for IITs")

elif univ=="NIT":
    print("we will go for NITs")

else:
    print("we will go for other colleges")

we will go for NITs

In [184]:
x=10
if x==10:
    x=12
elif x==12:
    x=14
elif x==14:
    x=18
else:
    x=19

In [185]:
x

12

# problem solving using for and if-else

In [189]:
#even and odd numbers



l=[12,15,13,19,89,78,40]
l1=[]
l2=[]

for i in l:
    
    if i%2==1:
        l1.append(i)
    elif i%2==0:
        l2.append(i)

In [190]:
l1

[15, 13, 19, 89]

In [191]:
l2

[12, 78, 40]

In [ ]:
# find list of multiple of 24 and another list of numbers not a multiple of 24

In [192]:
# factore of a number

number1=24
number2=32

l1=[]
l2=[]

for i in range(1, number1+1):
    if number1%i==0:
        l1.append(i)
for i in range(1, number2+1):
    if number2%i==0:
        l2.append(i)

l1=set(l1)
l2=set(l2)

In [193]:
l1

{1, 2, 3, 4, 6, 8, 12, 24}

In [194]:
l2

{1, 2, 4, 8, 16, 32}

In [195]:
l='alekhya sam ram madhu aaditya anchal deepika'
l=l.split()
my_dict={}

for i in l:
  
   if i[0] in  my_dict.keys():
      my_dict[i[0]].append(i)
   else:     
    my_dict[i[0]]=[i]

In [196]:
my_dict

{'a': ['alekhya', 'aaditya', 'anchal'],
 's': ['sam'],
 'r': ['ram'],
 'm': ['madhu'],
 'd': ['deepika']}

In [197]:
#even odd float

a=[1,42,43,1,10.8,23,43,89]

l1=[]
l2=[]
l3=[]

for i in a:
    if (i%2==0):
        l1.append(i)
        
        
    elif (i%2 not in (0,1)):
        l2.append(i)        
    
    else:
        
        l3.append(i)

In [198]:
print(l1)
print(l2)
print(l3)

[42]
[10.8]
[1, 43, 1, 23, 43, 89]

In [199]:
a=24

list_of_factors=[]

for i in range(1,a+1):
    if a%i==0:
        list_of_factors.append(i)

In [200]:
print(list_of_factors)

[1, 2, 3, 4, 6, 8, 12, 24]

# function

In [201]:
#lesser or greater number



def myfun (x,y):
     if x>y:
            print(x," is a greater number.")
     elif(x==y):
            print(x," is equal to ",y,".")
     else:
            print(y, " is greater number ",".")

In [202]:
myfun (12,13)

13  is greater number  .

In [203]:
def fun (x):
    if x%2==0:
        print(x,"is even number.")
    elif x%2==1:
        print(x,"is odd number.")
    else:
        print(x,"is",type(x))

In [204]:
fun(32)

32 is even number.

In [205]:
fun(39)

39 is odd number.

In [206]:
fun(12.3)

12.3 is <class 'float'>

In [207]:
def fun1 (x):
    print (x**2)

In [208]:
def fun2 (x):
    return (x**2)

In [209]:
a=fun1 (10)

100

In [210]:
b=fun2 (10)

In [211]:
print(b)

100

In [ ]:
#print just show the user a string repersenting what is going on inside the computer.
#the computer cannot male a use of that printing.


#return is how a function given back a value.this value is often unseen by user,
#but it can be used by the computer in further function.

In [278]:
def factor(x):
    
    l=[]
    for i in range(1,x+1):
        if x%i==0:
            l.append(i)
    print (l)

In [279]:
factor(27)

[1, 3, 9, 27]

In [280]:
factor(9)

[1, 3, 9]

In [251]:
def gcdFinder(x,y):
    global b
    for i in range (x,y):
        if (x>y):
            if y%i==0 and x%i==0:
                b=i
        elif (x<y):
            if x%i==0 and y%i==0:
                b=i
        else:
            if y%i==0:
                b=i
    return b

In [252]:
gcdFinder(40,40)

100

In [253]:
gcdFinder(10,25)

100

In [149]:
def gcd(x,y):
    global b
    for i in range(1,(min(x,y))+1):
        if x%i==0 and y%i==0:
            b=i
    print(b)

In [254]:
gcd(10,40)

10

In [255]:
min(5,25)

5

In [222]:
def primes(x):
    if x==1:
        print("number is not prime")
    for i in range (2,x):
        if x%i==0:
         print("number is not prime")
    else:
         print("number is prime")

In [223]:
primes(53)

number is prime

In [224]:
def factor(x):
    l=[]
    for i in range(2,x+1):
       if x%i==0:
                l.append(i)
    print(l)

In [225]:
factor(24)

[2, 3, 4, 6, 8, 12, 24]

# list comprehension

In [281]:
#alternative of for loop

In [217]:
l=[1,8,10,12]

l2=[]
for i in l:
    l2.append(i+10)
l2

[11, 18, 20, 22]

In [218]:
l2=[i+10 for i in l]
l2

[11, 18, 20, 22]

In [219]:
l=[1,8,10,12]

l2=[i for i in l if i%2==1]
l2

[1]

In [220]:
number=24

l2=[i for i in range(1,number+1) if number%i==0]
l2

[1, 2, 3, 4, 6, 8, 12, 24]

In [246]:
#write a function on prime number

def prime(x):
    
    if x<=1:
        return "not a prime"
    for i in range (2,x):
        if x%i==0:
            return "not a prime"
    return "prime"

In [263]:
def prime(x):
    
 return len([i for i in range(2,x) if x%i==0])==0

In [264]:
prime(23)

True

In [258]:
def gcd(a,b):
    
    
 common_factors=[i for i in range(1,min(a,b)+1) if a%i==0 and b%i==0]
 return max(common_factors)

In [259]:
gcd(10,25)

5

# Map and filter object

In [226]:
def fun(a):
    for i in range(2,a+1):
        if a%i==0:
            return "not a prime"
        else:
            return "prime"

In [227]:
fun(23)

'prime'

In [228]:
l=[1,2,3,4,5,6,78,90,34,67]

In [229]:
output=map(fun,l)

In [230]:
list(output)

[None,
 'not a prime',
 'prime',
 'not a prime',
 'prime',
 'not a prime',
 'not a prime',
 'not a prime',
 'not a prime',
 'prime']

In [231]:
def fun(a):
    return a**3

In [232]:
fun(3)

27

In [233]:
l=[1,2,3,4,45,456,665,566,43,233,23]

In [234]:
output=map(fun,l)

In [235]:
list(output)

[1, 8, 27, 64, 91125, 94818816, 294079625, 181321496, 79507, 12649337, 12167]

# filter

In [ ]:
it will give only true values

In [236]:
def fun(a):
    for i in range(2,a+1):
        if a%i==0:
            return "not a prime"
        else:
            return "prime"

In [237]:
import time
time1=time.time()
l=[1,2,3,4,5,6,7,8,8,90,88,66,44,33]
time2=time.time()
time3=time2-time1
print(time3)

0.0

In [238]:
output=filter(fun,l)

In [239]:
list(output)

[2, 3, 4, 5, 6, 7, 8, 8, 90, 88, 66, 44, 33]

# lambda

In [240]:
def fun(a):
    return a**2

In [241]:
fun=lambda a:a**2

In [242]:
fun(3)

9

In [243]:
def fun(a=0,b=0):
    return a+b

In [244]:
fun()

0

In [245]:
fun(2,3)

5

In [283]:
SUM=lambda a,b:a+b

In [284]:
SUM(10,20)

30

In [285]:
factor=lambda x:[i for i in range(1,x+1) if x%i==0]

In [286]:
factor(24)

[1, 2, 3, 4, 6, 8, 12, 24]

# Default values in function

In [287]:
def fun(a,b):
    return a+b

In [289]:
fun(10) # to solve this kind of problem we use default value function

TypeError: fun() missing 1 required positional argument: 'b'

In [290]:
def fun(a=0,b=0):
    return a+b

In [291]:
fun(12)

12

# Error handling

In [292]:
x=1
y=2
z=3/0
p=1

ZeroDivisionError: division by zero

In [293]:
x

1

In [294]:
y

2

In [295]:
p

NameError: name 'p' is not defined

In [297]:
def fun(a,b):
    return a+b

In [307]:
fun(1,""*"")

TypeError: can't multiply sequence by non-int of type 'str'

In [304]:
def fun(a,b):
    
    try :
        return a+b
    except:
        return "we got an error"

In [306]:
fun(12,"sddfgg")

'we got an error'