In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [75]:
import warnings
warnings.filterwarnings("ignore")

In [76]:
df=pd.read_csv("Q9_b.csv")

In [77]:
df.head(10)

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149
5           6  113.185353  29.591768
6           7  105.461264  30.308480
7           8  102.598513  15.847758
8           9  102.598513  16.359484
9          10  115.645204  30.920154

In [78]:
df.mean()

Unnamed: 0     41.000000
SP            121.540272
WT             32.412577
dtype: float64

In [79]:
df.mode()

    Unnamed: 0          SP         WT
0            1  118.288996  15.712859
1            2         NaN  15.753535
2            3         NaN  15.769625
3            4         NaN  15.823060
4            5         NaN  15.847758
..         ...         ...        ...
76          77         NaN  42.778219
77          78         NaN  43.353123
78          79         NaN  43.390988
79          80         NaN  44.013139
80          81         NaN  52.997752

[81 rows x 3 columns]

In [80]:
df.var()

Unnamed: 0    553.500000
SP            201.113002
WT             56.142247
dtype: float64

In [81]:
df.describe()

       Unnamed: 0          SP         WT
count   81.000000   81.000000  81.000000
mean    41.000000  121.540272  32.412577
std     23.526581   14.181432   7.492813
min      1.000000   99.564907  15.712859
25%     21.000000  113.829145  29.591768
50%     41.000000  118.208698  32.734518
75%     61.000000  126.404312  37.392524
max     81.000000  169.598513  52.997752

In [82]:
df.median()

Unnamed: 0     41.000000
SP            118.208698
WT             32.734518
dtype: float64

In [83]:
df.std()

Unnamed: 0    23.526581
SP            14.181432
WT             7.492813
dtype: float64

In [84]:
df.min()

Unnamed: 0     1.000000
SP            99.564907
WT            15.712859
dtype: float64

In [85]:
df.max()

Unnamed: 0     81.000000
SP            169.598513
WT             52.997752
dtype: float64

In [86]:
import scipy

In [87]:
scipy.stats.skew(df,axis=0,bias=True)

array([ 0.        ,  1.58145368, -0.60330993])

In [88]:
scipy.stats.kurtosis(df,axis=0,bias=True)

array([-1.20036585,  2.72352149,  0.81946588])